@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 800;
  font-family: "Ubuntu Mono", monospace;
}

#main-calc-body {
  display: flex;
  flex-direction: column;
  box-shadow: 9px 5px 19px -4px rgba(22, 63, 135, 0.58);
  border: #0c46b0 solid 1px;
  background-color: #dedfe3;
  width: 366px;
  min-height: fit-content;
}

body {
  display: flex;
  justify-content: center;
}

#button-body {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  flex: 1 1 70%;
  gap: 10px;
  padding: 18px 18px;
}

#backspace {
  grid-column: 5;
}

#equals-button {
  grid-row: 4 / 6;
  grid-column: 5;
}

button {
  transition: background-color 0.05s ease;
  border: 3px solid #7c7f80;
  border-radius: 7.5px;
  background: rgb(187, 191, 193);
  padding: 8px;
  font-size: 1.25rem;
}

button.clear {
  border-color: rgb(179, 75, 38);
  background-color: rgb(228, 78, 23);
}

button.operation {
  border-color: #375690;
  background-color: #568bed;
}

button:focus-visible {
  border: 3px solid #6d93d4;
  background: rgb(205, 208, 210);
}

button:active {
  transition: background-color 0.05s ease;
  border: 3px solid #0c46b0;
  background: rgb(14, 87, 218);
}

#calc-screen {
  display: flex;
  flex: 1 1 30%;
  align-items: center;
  filter: blur(0.6px);
  margin: 12px 12px 5%;
  box-shadow: -4px -5px 8px 0px rgba(79, 72, 72, 0.75) inset;
  border: 1px solid #c8c9cd;
  background-color: #ffffff;
  min-height: 5rem;
}

#calc-screen p {
  margin: 0;
  padding-right: 12px;
  min-width: 100%;
  font-size: 2rem;
  text-align: right;
}

#toolbar {
  background-color: rgb(28, 27, 27);
  padding: 4px 0 0;
}

#top-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#icon {
  max-height: 100%;
}

h1 {
  display: inline;
  color: white;
  font-size: 1rem;
}

#window-buttons button,
#expansions button {
  border: none;
  background-color: transparent;
  padding: 4px;
  color: white;
}

#window-buttons {
  padding-right: 8px;
}

#expansions {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

#expansions button {
  flex: 1 1 auto;
  border-radius: 0;
  height: 48px;
}

#window-buttons button {
  border-radius: 2px;
  height: 30px;
  text-align: center;
}

#expansions button:first-child {
  padding-left: 4px;
}

#expansions button:active,
#window-buttons button:active {
  background-color: rgb(74, 73, 73);
}

.minimised {
  display: none !important;
}

.maximised {
  width: 100dvw !important;
  height: 100dvh !important;
}
