@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 800;
  font-style: normal;
}

#main-calc-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: fit-content;
  background-color: #dedfe3;
  border: #0c46b0 solid 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-body {
  flex: 1 1 70%;
  display: grid;
  padding: 18px 18px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

#backspace {
  grid-column: 5;
}

#equals-button {
  grid-row: 4 / 6;
  grid-column: 5;
}

button {
  box-sizing: border-box;
  background: rgb(187, 191, 193);
  border: 3px solid #7c7f80;
  border-radius: 7.5px;
  transition: background-color 0.05s ease;
  padding: 8px;
  font-size: 1.25rem;
}

button:focus-visible {
  border: 3px solid #6d93d4;
  background: rgb(205, 208, 210);
}

button:active {
  background: rgb(14, 87, 218);
  border: 3px solid #0c46b0;
  transition: background-color 0.05s ease;
}

#calc-screen {
  flex: 1 1 30%;
  background-color: #ffffff;
  border: 1px solid #c8c9cd;
  margin: 12px 12px 5%;
  min-height: 5rem;
}

#toolbar {
  background-color: rgb(28, 27, 27);
  padding: 4px 0 0;
}

#top-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#icon {
  max-height: 100%;
}

h1 {
  font-size: 1rem;
  display: inline;
  color: white;
}

#window-buttons button,
#expansions button {
  background-color: transparent;
  border: none;
  padding: 4px;
  color: white;
}

#window-buttons {
  padding-right: 8px;
}

#expansions {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

#expansions button {
  flex: 1 1 auto;
  height: 48px;
  border-radius: 0;
}

#window-buttons button{
  border-radius: 2px;
  height: 30px;
  text-align: center;
  
}

#expansions button:first-child{
  padding-left: 4px;
}

#expansions button:active, #window-buttons button:active {
  background-color: rgb(74, 73, 73);
}
